@page "/register"
@using Qwirkle.WebApi.Shared
@using Qwirkle.WebApi.Client.Blazor.Services.Implementations
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<PageTitle>Register</PageTitle>

<h1 class="h2 font-weight-normal login-title">Qwirkle register</h1>

<EditForm class="form-signin" OnValidSubmit="RegisterUser" Model="RegisterParameters">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">Create Account</h4>

    <label for="inputUsername" class="sr-only">User Name</label>
    <InputText id="inputUsername" class="form-control" placeholder="Username" autofocus @bind-Value="@RegisterParameters.UserName" />
    <ValidationMessage For="@(() => RegisterParameters.UserName)" />

    <label for="inputEmail" class="sr-only">Email</label>
    <InputText id="inputEmail" class="form-control" placeholder="Email" autofocus @bind-Value="@RegisterParameters.Email" />
    <ValidationMessage For="@(() => RegisterParameters.Email)" />

    <label for="inputPassword" class="sr-only">Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="@RegisterParameters.Password" />
    <ValidationMessage For="@(() => RegisterParameters.Password)" />

    <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@RegisterParameters.PasswordConfirm" />
    <ValidationMessage For="@(() => RegisterParameters.PasswordConfirm)" />
      
    <label for="inputFirstName" class="sr-only">First Name</label>
    <InputText id="inputFirstName" class="form-control" placeholder="First name" autofocus @bind-Value="@RegisterParameters.Firstname" />
    <ValidationMessage For="@(() => RegisterParameters.Firstname)" />

    <label for="inputLastName" class="sr-only">Last Name</label>
    <InputText id="inputLastName" class="form-control" placeholder="Last name" autofocus @bind-Value="@RegisterParameters.Lastname" />
    <ValidationMessage For="@(() => RegisterParameters.Lastname)" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>

    <label class="text-danger">@Error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
    </NavLink>
</EditForm>

<div class="form-signin">
    <button class="btn btn-lg btn-primary btn-block" @onclick="@LoginAsGuest">Play as guest</button>
</div>